* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main: hsl(217, 54%, 11%);
  --card: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.image-box {
  position: relative;
  cursor: pointer;
}

.teste {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--cyan);
  border-radius: 1rem;
  visibility: hidden;
  transition: initial 0.5s;
}

.image-hover {
  display: flex;
  margin: 100px auto;
}

.image-box:hover .teste {
  visibility: visible;
}

.image-hover:hover {
  transform: scale(1.2);
}

.image {
  width: 16rem;
  height: 16rem;
  display: block;
  margin: 0 auto;
  border-radius: 1rem 1rem;
  cursor: pointer;
}

.image-avatar {
  width: 3rem;
  border-radius: 200px;
  border: 1px solid var(--white);
}

body {
  background-color: var(--main);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--card);
  max-width: 20rem;
  max-height: 36rem;
  border-radius: 1rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.title:hover {
  cursor: pointer;
  color: var(--cyan);
}

.subtitle {
  margin-top: 1rem;
  color: var(--line);
  font-weight: 400;
}

.content {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);

  border-radius: 1rem;
  padding: 2rem;
}

.container {
  margin-top: 1rem;
  max-width: 18rem;
  display: flex;

  justify-content: space-between;
}

.eth {
  color: var(--cyan);
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  margin-left: 0.5rem;
}

.days {
  color: var(--line);
  text-decoration: none;
  font-weight: 500;
  margin-left: 0.5rem;

  display: inline-block;
}

.separator {
  font-size: 14px;
  color: var(--soft);

  margin: 20px 0;
  display: flex;
  align-items: center;
}

.separator:before {
  max-width: 18rem;
  content: "";
  flex: 1;
  height: 1px;
  background: var(--line);
}

.user-information {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 1rem;
  color: var(--line);
}

span {
  color: var(--white);
}
